/* --------SIGNUP-------- */

#seccion1-signup {
    text-align: center;
    color: #FFA2F3;
    h1{
        font-size: 50px;
        font-family: 'inknut antiqua', serif;
    }
    h2{
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
    }
}

#seccion2-signup {
    text-align: center;
    form {
        color: #FFA2F3;
        font-family: 'Courier New', Courier, monospace;
        h2 {
            padding-top: 15px;
            padding-bottom: 25px;
            font-size: 15px;
    }
}


}