/* ---- MEDIA------- */

.encuadre-ul {
    border-style: groove;
    background-color: #3D4164;
    font-family: 'inknut Antiqua', serif;
    color: #FFA2F3;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 15px;
}

#seccion1-media {
    padding: 10px;
    h2{
        padding-top: 50px;
        color: #FFA2F3;
        font-family: 'inknut antiqua', serif;
        padding-bottom: 10px;
    }
    ul li img{
        align-items: center;
        width: 385px;
        height: 310px;
        padding-left: 2%;
    }
}
